*{
  margin: 0px;
  padding: 0px;
  font-family: "futura-pt", sans-serif;
  font-weight: 500px;
}

header{
  text-align: center;
}

body {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
#not-active-page:hover{
  text-decoration: line-through;
}
#active-page{
  text-decoration: line-through;
}


h1{
  margin-top: 30px;
  margin-bottom: 20px;
  color: #2A3890;
}

h2{
  color: #40AD49;
  text-shadow: 1px 1px 2px #00000056;
  font-size: 70px;
}

a, a:hover{
  text-decoration: none;
  color: #2A3890;
}

.project{
  background-color: #2A389070;
  width: 100%;
  height: 560px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.project h2{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-right: -50%;
}


.project img{
  top:0px;
  right:0px;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-right: -50%;
  z-index: -5;
}

.head{
  background-color: #2A389070;
  height: 560px;
  width: 100%;
  line-height: 560px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.head video{
  width: 100%;
  justify-content: center;
  z-index: -5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-right: -50%;
}

.head h2{
  font-size: 85px;

}

.link {
  height: 15px;
  margin: 30px;
}
.link h4 {
  position: absolute;
  right: 10px;
}
.link h4:hover{
  text-decoration: line-through;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: 0;
  position: relative;
}

.parallax img{
  display: none;
}

.parallax p{
  position: absolute;
  width: 50%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  color: #2A3890;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  outline: #40AD49 10px solid;
}

.line{
  display: none;
}

h3 {
  display: none;
}

#description {
  background-image: url(images/project1.png);
}

#step3 {
  background-image: url(images/project1_process3.png);
}

p{
  margin: 20px;
  text-align: justify;
}

footer{
  display: flex;
  justify-content: space-around;
}

@media (hover: none) {
   .parallax {
       background-attachment: scroll;
   }
}


@media only screen and (min-width: 768px){
  header {
    text-align: left;
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }

  .navbar{
    margin: inherit;
    }
  .navbar h5{
    margin: 20px;
  }



}


@media only screen and (min-width: 960px){


    .navbar{
      width: 50%;
    }

    body{
      height: 800px;
    }

    .content{
      display: flex;
      justify-content: space-between;
    }

    .project{
      width: 34%;
      margin: 0;
      background-color: #2A3890;
    }

    .project img {
      visibility: hidden;
      width: auto;
      height: 100%;
    }
    .project:hover img{
      visibility: visible;
    }
    .project:hover {
      background-color: #2A389070;
    }

    .head h2{
      font-size: 130px;
    }

    footer{
      width: 50%;
      margin-bottom: 10px;
    }

    .parallax {
      background-color: white;
      background-image: none !important;
      height: auto;
      width: 100vp;
      overflow: hidden;
    }

    .parallax img{
      display: block;
      position: relative;
      width: 45%;
      max-width: 600px;
      margin-left: 15%;
      z-index: 2;
      margin-bottom: 200px;
    }

    .parallax p{
      position: absolute;
      left: 50%;
      top: 30%;
      width: 30%;
      z-index: 3;
    }

    strong{
      display: none;
    }

    h3 {
      display: block;
      position: absolute;
      top: 10%;
      left: 62%;
      color: #2A3890;
    }

    .line {
      display: block;
      background-color: #40AD49;
      height: 2px;
      width: 75%;
      position: absolute;
      top: 13.5%;
      left: 55%;
    }

}
