*{
  margin: 0px;
  padding: 0px;
  font-family: "futura-pt", sans-serif;
  font-weight: 500px;
}

header{
  text-align: center;
}

body {
  text-align: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
#not-active-page:hover{
  text-decoration: line-through;
}
#active-page{
  text-decoration: line-through;
}


h1{
  margin-top: 30px;
  margin-bottom: 20px;
  color: #2A3890;
}

h2{
  color: #40AD49;
  text-shadow: 1px 1px 2px #00000056;
  font-size: 70px;
  letter-spacing: .05em;
}

a, a:hover{
  text-decoration: none;
  color: #2A3890;
}

.project{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 560px;
  margin-bottom: 40px;
}

#project1{
  background: url(images/project1_bw.png);
  background-position: center;
  background-size: cover;
}

#project2{
  background: url(images/project2.2.bw.png);
  background-position: center;
  background-size: cover;
}

#project3{
  background: url(images/thesis1_bw.png);
  background-position: center;
  background-size: cover;
}

.title{
  position: absolute;
  height: 560px;
  display: block;
  width: 100%;
  background-color: #2A389070;
}

.title h2{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.head{
  background-color: #2A389070;
  height: 560px;
  width: 100%;
  line-height: 560px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.head video{
  width: 100%;
  justify-content: center;
  z-index: -5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-right: -50%;
}

.head h2{
  font-size: 65px;
  letter-spacing: .2em;
  word-wrap: break-word;
}

.link {
  height: 15px;
  margin: 30px;
}
.link h4 {
  position: absolute;
  right: 10px;
}
.link h4:hover{
  text-decoration: line-through;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: 0;
  position: relative;
}

.parallax img{
  display: none;
}

.parallax img{
  display: none;
}

.parallax p{
  position: absolute;
  width: 50%;
  margin: 10px;
  padding: 20px;
  background-color: white;
  color: #2A3890;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  outline: #40AD49 10px solid;
}

.line{
  display: none;
}

h3 {
  display: none;
}

.parallax a{
  color: #40AD49;I
}

.parallax a:hover{
  text-decoration: line-through;
}

#letterform-description {
  background-image: url(images/project1.png);
}

#letterform-step1{
  background-image: url(images/project1_process1.png);
}

#letterform-step2{
  background-image: url(images/project1_process2.png);
}

#letterform-step3 {
  background-image: url(images/project1_process3.png);
}

#letterform-step4 {
  background-image: url(images/project1_process4.png);
}

#letterform-step5 {
  background-image: url(images/project1_process5.png);
}

#learningtool-homepage {
  background-image: url(images/project2.1.png);
}

#learningtool-ncaafootball {
  background-image: url(images/project2.2.png);
}

#learningtool-foul {
  background-image: url(images/project2.3.png);
}

#learningtool-step1 {
  background-image: url(images/project2_process1.png);
}

#learningtool-step2 {
  background-image: url(images/project2_process2.png);
}

#learningtool-step3 {
  background-image: url(images/project2_process3.mp4);
}

#learningtool-step4 {
  background-image: url(images/project2_process4.png);
}

#learningtool-step5 {
  background-image: url(images/project2_process5.png);
}

#learningtool-step6 {
  background-image: url(images/project2_process6.png);
}

#learningtool-step7 {
  background-image: url(images/project2_process7.png);
}

#thesis-display {
  background-image: url(images/thesis_display.png);
}

#thesis-homepage {
  background-image: url(images/thesis1.png);
}

#thesis-step1 {
  background-image: url(images/thesis_process1.png);
}

#thesis-step2 {
  background-image: url(images/thesis_process2.png);
}

#thesis-step3 {
  background-image: url(images/thesis_process3.png);
}

#thesis-step4 {
  background-image: url(images/thesis_process4.png);
}

#thesis-step5 {
  background-image: url(images/thesis_process5.png);
}

#thesis-step6 {
  background-image: url(images/thesis_process6.png);
}

#thesis-step7 {
  background-image: url(images/thesis_process7.png);
}

p{
  margin: 20px;
  text-align: justify;
}


.flex img{
  object-fit: contain;
  width: 30%;
}


.block {
  display: block;
  margin-top: 20px;
  color: #2A3890;
}
.block a{
  color: #40AD49;
}
.block a:hover{
  text-decoration: line-through;
}

footer{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

i{
  font-size: 30px;
}

#twitter h5{
  visibility: hidden;
}
#twitter:hover h5{
  visibility: visible;
  position: relative;
  top: -25px;
}
#twitter:hover i{
  opacity: .2;
}

#linkedin h5{
  visibility: hidden;
}
#linkedin:hover h5{
  visibility: visible;
  position: relative;
  top: -25px;
}
#linkedin:hover i{
  opacity: .2;
}

#instagram h5{
  visibility: hidden;
}
#instagram:hover h5{
  visibility: visible;
  position: relative;
  top: -25px;
}
#instagram:hover i{
  opacity: .2;
}

#fullportfolio h5{
  visibility: hidden;
}
#fullportfolio:hover h5{
  visibility: visible;
  position: relative;
  top: -25px;
}
#fullportfolio:hover i{
  opacity: .2;
}

@media (hover: none) {
   .parallax {
       background-attachment: scroll;
   }

   .head h2 {
     font-size: 45px;
     letter-spacing: normal;
 }
}


@media only screen and (min-width: 768px){
  header {
    text-align: left;
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }

  .head h2{
    font-size: 100px;
  }

  .navbar{
    margin: inherit;
    }
  .navbar h5{
    margin: 20px;
  }



}


@media only screen and (min-width: 960px){


    .navbar{
      width: 50%;
    }

    body{
      height: 800px;
    }

    .content{
      display: flex;
      justify-content: space-between;
    }

    .project{
      width: 34%;
      margin: 0;
    }

    #project1{
      background-image: none;
      background-color: #2A3890;
    }
    #project1:hover{
      background: url(images/project1_bw.png);
      background-position: center;
      background-size: cover;
    }

    #project2{
      background-image: none;
      background-color: #2A3890;
    }
    #project2:hover{
      background: url(images/project2.2.bw.png);
      background-position: center;
      background-size: cover;
    }

    #project3{
      background-image: none;
      background-color: #2A3890;
    }
    #project3:hover{
      background: url(images/thesis1_bw.png);
      background-position: center;
      background-size: cover;
    }

    .title{
      background-color: transparent;
    }

    .project:hover .title{
      background-color: #2A389070;
    }

    .head h2{
      font-size: 130px;
      letter-spacing: .1em;
    }

    footer{
      width: 50%;
      margin-bottom: 10px;
    }

    .parallax {
      background-color: white;
      background-image: none !important;
      height: auto;
      width: 100vp;
      overflow: hidden;
    }

    .parallax img{
      display: block;
      position: relative;
      width: 45%;
      max-width: 600px;
      margin-left: 15%;
      z-index: 2;
      margin-bottom: 200px;
    }

    .parallax video {
      display: block;
      position: relative;
      width: 45%;
      max-width: 600px;
      margin-left: 15%;
      z-index: 2;
      margin-bottom: 200px;
    }

    .parallax p{
      position: absolute;
      left: 50%;
      top: 30%;
      width: 30%;
      z-index: 3;
    }

    strong{
      display: none;
    }

    h3 {
      display: block;
      position: absolute;
      top: 10%;
      left: 62%;
      color: #2A3890;
    }

    .line {
      display: block;
      background-color: #40AD49;
      height: 2px;
      width: 75%;
      position: absolute;
      top: 13.5%;
      left: 55%;
    }

    .flex{
      display: flex;
      justify-content: space-around;
      margin: 20px;
      height: 500px;
    }

    .flex img{
      object-fit: contain;
      width: 30%;
    }

    .block {
      display: block;
      margin-top: 20px;
    }

}
