.video {
  width: 512px;
  height:288px;
  margin: 20px auto;
}
h4{
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #E2B82A;
}

em {
  font-weight: 700;
  font-style: normal;
}

.video  {
  margin-bottom:60px;
}

.description{
  margin: 20px auto;
}
.description p{
  margin: 0 auto 0 10px;
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  color: rgba(255, 255, 255, .8);
}
.primary{
  margin: 0 auto 0 10px;
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 20px;
  color: rgba(255, 255, 255, .8);
  list-style: lower-alpha;
}
.secondary{
  list-style: decimal;
}

.similar {
  width: 768px;
  margin: -20px auto;
  display: flex;
  justify-content: space-around;
}

.similar a{
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: rgba(240, 195, 42, .8);
}
.similar a:hover{
  text-decoration: none;
}

.similar1{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
