body{
  background-color: #F2F8FC;
}

a{
  color: #000000;
}
a:hover {
  text-decoration: none;
}

.header {
  background-color: #DCE1E5;
  width: 768px;
  height:115px;
  margin: 20px auto;
}
.header h1 {
  margin: 10px;
}
.header h2 {
  margin: 10px;
}

.video {
  background-color: #DCE1E5;
  width: 512px;
  height:288px;
  margin: 20px auto;
}

.description{
  background-color: #DCE1E5;
  width: 768px;
  margin: 20px auto;
}
.description h4{
  margin: 10px;
}
.description p{
  margin: 10px;
}

.similar {
  background-color: #DCE1E5;
  width: 768px;
  height:100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.footer {
  background-color: #DCE1E5;
  width: 768px;
  height:55px;
  margin: 20px auto;
}
.footer a{
  margin: 10px;
}
