*{
  margin: 0 auto;
}
body{
  background-color: #538336;
  width: 728px;
}

}
a:hover {
  text-decoration: none;
}

.header {
  width: 768px;
  height:150px;
  margin: 20px auto;
  position: relative;
}
.header h1{
  margin: 10px;
  font-family: rogue-sans-condensed, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 100px;
  text-align: center;
}
.header h2 {
  margin-top: -20px;
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, .8);
}
.header a{
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  position: absolute;
  top: -2px;
  right: 0px;
  color: rgba(255, 255, 255, .8);
}
.header a:hover{
  text-decoration: none;
}

.ncaa {
  text-align: center;
}

.professional{
  text-align: center;
}

.sports-choice {
  width: 565px;
  height: 458px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sports-choice h2 {
  font-size: 30px;
  font-weight: 400;
}

.sports-choice ul {
  list-style: none;
  padding-left: 0;
  font-size: 30px;
}

.sports-choice a {
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}
.sports-choice a:hover {
  text-decoration: none;
}

.fouls-box {
  margin: 10px auto;
  width: 768px;
  display: flex;
  justify-content: center;
  text-align: center;
}


.fouls {
  margin: 30px auto;
  padding: 20px;
  width: 200px;
  height: 155px;
}
.fouls a{
  text-align: center;
  font-family: alternate-gothic-no-3-d, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #E2B82A;
}
.fouls a:hover{
  text-decoration: none;
}

.footer{
  height: 40px;
}
